{% extends "app/layout.html" %} 



{% block content %}
	
<div class="jumbotron">
    <h2>Atendimentos</h2>
    <p>Clique no número de cada atendimento para visualizar os procedimentos aplicados</p>
</div>

	<ul>	
		<table id="atendimento_list" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>Cód.</th>
				<th>Número da GTO</th>
                <th>Data de atendimento</th>
				<th>Paciente</th>
				<th>Dentista</th>
				<th>Convênio</th>
				
				
			</tr>
			</thead>

			<tbody>
			
				{% for atendimento in object_list %}
				
			<tr>
				<td><a href="{{ atendimento.id }}/"> {{ atendimento.id }} </a></td>
				<td>{{ atendimento.num_GTO }}</td>
                <td>{{ atendimento.data_atendimento }}</td>
				<td>{{ atendimento.paciente }}</td>
				<td>{{ atendimento.dentista }}</td>
				<td>{{ atendimento.convenio }}</td>
				
				
			</tr>
				{% endfor %}

			</tbody>
			  
			</table>
		
	</ul>

<!--	
<form method="get" action="http://127.0.0.1:8000">
			<button type="submit">Principal</button>
</form>-->

<a href="{% url 'dentistas' %}" class="btn btn-primary btn-large">&laquo; Painel dentistas</a>
<a href="{% url 'inserir_atendimentos' %}" class="btn btn-primary btn-large">Novo atendimento &raquo;</a>
<br><br>
<a href="{% url 'home' %}" class="btn btn-primary btn-large">Home &raquo;</a>

{% endblock %} 

{% load staticfiles %}

{% block scripts %}
<!-- ./wrapper -->

<!-- src="{% static "app/lucido_logo.png" %}"  -->

<!-- jQuery 3 -->
<script src="{% static "app/bower_components/jquery/dist/jquery.min.js" %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static "app/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!-- DataTables -->
<script src="{% static "app/bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "app/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "app/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" %}"></script>
<!-- FastClick -->
<script src="{% static "app/bower_components/fastclick/lib/fastclick.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "app/dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "app/dist/js/demo.js" %}"></script>
<!-- page script -->

<script>
  $(function () {
    
	$('#atendimento_list').DataTable()

	// Versão com paginação, ordenação e info
	// Se o id não existe, a função não é aplicada
    $('#atendimento_list1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

{% endblock %}

